<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{data.title}}</h5>
    <p class="card-text">{{data.message}}</p>
  </div>
</div>
<form class="d-flex" action="">
    <input type="text" placeholder="Title">
    <input type="text" placeholder="Message">
    <button class="submit">Post!</button>
</form>