<main>

  <h1>POSTS</h1>
    {{#each posts}}
    <div class="card container" style="width: 18rem; height: 10rem">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.message}}</p>
        </div>
    </div>
    {{/each}}

  <section>
    <form class="d-flex flex-column formEl" action="">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="message" placeholder="Message">
        <button class="submit">Post!</button>
    </form>
  </section>
  <a href="/auth/logout"><button type="button" id="logout logoutBtn" class="btn btn-info">Logout</button></a>
  </div>
  <P style="color: white">friday party clock, friday is {{ friday }}</P>
</main>

