<h1>POSTS</h1>
<div class="card container" style="width: 18rem; height: 10rem">
  <div class="card-body">
    <h5 class="card-title">{{data.title}}</h5>
    <p class="card-text">{{data.message}}</p>
  </div>
</div>
<form class="d-flex" action="">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="message" placeholder="Message">
    <button class="submit">Post!</button>
</form>
<P>friday party clock, friday is {{ friday }}</P>
