<h1 id="welcome">Welcome to ChatApp</h1>
<a href="/login"><button type="button" id="login" class="btn btn-info">Login</button></a>
<a href="/register"><button type="button" id="register" class="btn btn-info">Register</button></a>
{{#if user}}
<h2>New User!{{user.users_name}}</h2>
{{/if}}