<main id="container">
<section class="card login align" style="width: 18rem;">
<h1>Register</h1>
<form>
    <div class="mb-3 login">
        <label for="exampleInputEmail1" class="form-label">email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter new email">
    </div>
    <div class="mb-3 login">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-primary">create!</button>
</form>
</section>
</main>