*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: rgb(102, 102, 204);
}

body{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
html{
    height: 100%;
}

button{
    border-radius: 7px;
    border-width: 3px;
    border-color: black;
    background-color: aquamarine;
    text-align: center;
    font-size: 15px;
}

h1{

    background-color: rgb(102, 102, 204);
}

.login{
    background-color: rgb(102, 102, 204);
}

section{
    margin: auto;
    display: flex;
}

.btn{
    margin: 7px;
}

#welcome{
    padding: 10px;
    margin: 7px;
    border-radius: 3px;
}

#nav{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    opacity: 0%;
}

#container{
    display: flex;
}

main {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



#logoutBtn {
    position: absolute;
    right: 0;
    bottom: 0;
}