*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: rgb(102, 102, 204);
}

body{
    background-color: rgb(62, 56, 103);
}

button{
    border-radius: 7px;
    border-width: 3px;
    border-color: black;
    background-color: aquamarine;
    text-align: center;
    font-size: 15px;
}

h1{
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 102, 204);
}