*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: rgb(102, 102, 204);
}

body{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
html{
    height: 100%;
}

button{
    border-radius: 7px;
    border-width: 3px;
    border-color: black;
    background-color: aquamarine;
    text-align: center;
    font-size: 15px;
}

h1{

    background-color: rgb(102, 102, 204);
}

.login{
background-color: rgb(102, 102, 204);
}

section{
    margin: auto;
    display: flex;
}